export FLASK_APP=app
export FLASK_ENV=development
export HOSTED_ZONE_DOMAIN="some.fqdn."
export TF_VAR_hosted_zone_domain="$HOSTED_ZONE_DOMAIN"
export SECRET_KEY="some secret key"
export AWS_ACCESS_KEY_ID="AWS access key ID"
export AWS_SECRET_ACCESS_KEY="AWS secret access key"
