<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    {% if title -%}
    <title>{{ title }}</title>
    {%- else -%}
    <title>DNS Management</title>
    {%- endif %}

    <style>
        main {
            font-size: smaller;
            padding-top: 20px;
        }

        .table td {
            padding-bottom: 5px;
        }

        .ip, .friendly_name {
            padding-right: 1em;
        }

        code {
            color: inherit;
        }

        .ip > code, .friendly_name > code {
            border: 1px solid inherit;
            padding: 2px 4px;
            border-radius: 4px;
            color: #f2f2f2;
            background-color: #1d88a2;
        }

        .none {
            color: grey;
        }
    </style

</head>

<body>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if request.path == '/dns' %}active{% endif %}">
                    <a class="nav-link" href="/dns">DNS</a>
                </li>
                <li class="nav-item {% if request.path == '/servers' %}active{% endif %}">
                    <a class="nav-link" href="/servers">Servers</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock -%}

</body>
</html>
