<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        body {
            padding-top: 50px;
        }

        @media (max-width: 768px) {
            body {
                padding-top: 130px;
            }
        }

        .ip, .friendly_name {
            padding-right: 10pt;
        }

        code {
            color: #f2f2f2 !important;
            background-color: #1d88a2;
        }
    </style>

    {% if title -%}
    <title>{{ title }}</title>
    {%- else -%}
    <title>DNS Management</title>
    {%- endif %}

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li {% if request.path == '/' %}class="active"{% endif %}><a href="/">Home</a></li>
                <li {% if request.path == '/dns' %}class="active"{% endif %}><a href="/dns">DNS</a></li>
                <li {% if request.path == '/servers' %}class="active"{% endif %}><a href="/servers">Servers</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock -%}

</body>
</html>
