<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script-->

    <style>
        body {
            padding-top: 50px;
        }

        @media (max-width: 768px) {
            body {
                padding-top: 130px;
            }
        }

        .ip, .friendly_name {
            padding-right: 10pt;
        }

        code {
            /*font-family: Inconsolata, Menlo, Monaco, Consolas, monospace;*/
            color: #f2f2f2 !important;
            background-color: #1d88a2;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title -%}
    <title>{{ title }}</title>
    {%- else -%}
    <title>DNS Management</title>
    {%- endif %}

</head>

<body>
      
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li {% if request.path == '/' %}class="active"{% endif %}><a href="/">Home</a></li>
                <li {% if request.path == '/dns' %}class="active"{% endif %}><a href="/dns">DNS</a></li>
                <li {% if request.path == '/servers' %}class="active"{% endif %}><a href="/servers">Servers</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock -%}

</body>
</html>

