{% extends "base.html" %}
{% block content %}

<main class="container" id="dns">

    <h1>DNS Entries</h1>

    <p>
        Showing all A records on {{ zone_name[:-1] }} and matching them to our servers, if possible.
    </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Domain String</th>
                <th>IP Address Record(s)</th>
                <th>Server Friendly Name(s)</th>
                <th>Cluster</th>
            </tr>
        </thead>
        <tbody>
            {% for record in dns_records -%}

            {%- set highlight = {'yes': True} %}
            {%- for server in servers -%}
                {%- if server.ip_address in ips_from_record(record) -%}
                    {%- if highlight.update({'yes': False}) -%} {%- endif -%}
                {%- endif -%}
            {%- endfor -%}

            <tr 
            {%- if highlight['yes'] -%}
                {{ "" }} class="danger"
            {%- endif -%}
            >
                <td>{{ record["Name"] }}</td>
                <td>
                    {%- for ip in ips_from_record(record) -%}
                    <span class="ip"><code>{{ ip }}</code></span>
                    {%- endfor -%}
                </td>
                <td>
                    {%- for server in servers -%}
                        {%- if server.ip_address in ips_from_record(record) -%}
                        <span class="friendly_name"><code>{{ server.name }}</code></span>
                        {%- endif -%}
                    {%- endfor -%}
                </td>
                <td>
                    {%- set clusterlist = [] -%}
                    {%- for server in servers -%}
                        {%- if server.ip_address in ips_from_record(record) -%}
                            {%- if clusterlist.append(server.cluster_name) -%} {%- endif -%}
                        {%- endif -%}
                    {%- endfor -%}
                    {%- if clusterlist -%}
                    {{ clusterlist[0] }}
                    {%- endif -%}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</main>

{% endblock %}

