{% extends "base.html" %}
{% block content %}

<style>
    th:first-child,
    td:first-child {
        color: grey;
    }
</style>

<main class="container" id="servers">

    <h1>Servers</h1>

    {% with messages = get_flashed_messages(with_categories=True) -%}
        {%- if messages -%}
            {%- for category, message in messages -%}
            <div class="alert alert-{{ category }}" role="alert">
                <ul class=flashes style="list-style: none;">
                    <li><i class="fa fa-server fa-lg" aria-hidden="true"></i> {{ message|safe }}</li>
                </ul>
            {%- endfor -%}
        </div>
        {%- else -%}
        <div class="alert" style="visibility: hidden">
            <ul class="flashes" style="list-style: none;">
                <li>Empty message</li>
            </ul>
        </div>
        {%- endif -%}
    {%- endwith %}

    <p>
        Showing all servers in our records.
    </p>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Server Friendly Name&nbsp;&#x25BC;</th>
                <th>Server IP Address</th>
                <th>Cluster</th>
                <th>DNS</th>
                <th>Rotation</th>
            </tr>
        </thead>
        <tbody>
            {% for server in servers -%}
            <tr>
                <td>{{ server.server_id }}</td>
                <td><span class="friendly_name"><code>{{ server.name }}</code></span></td>
                <td><span class="ip"><code>{{ server.ip_address.exploded }}</code></span></td>
                <td>{{ server.cluster_name }}</td>
                <td>
                    {%- if server.dns -%}
                    <code>{{ server.dns.__str__() }}</code>
                    {%- else -%}
                    <span class="none">None</span>
                    {%- endif -%}
                </td>
                <td>
                    <form action="/rotate" method="post">
                    <input type='hidden' name='server' value='{{ server.server_id }}'>
                    {%- if server.dns != None %} 
                    <input type='hidden' name='action' value='remove'>
                    <button type="submit" class="btn btn-sm btn-danger" onclick="this.disabled=true;">Remove</button>
                    {% else %}
                    <input type='hidden' name='action' value='add'>
                    <button type="submit" class="btn btn-sm btn-success" onclick="this.disabled=true;">Add</button>
                    {% endif -%}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</main>

{% endblock %}
